<label>Característica: </label>
<input type="text" #nuevaCaracteristica style="margin-left: 5px;">
<button (click)="agregaCaracteristicas(nuevaCaracteristica.value)" class="btn btn-primary" style="margin-left: 20px; margin-top: -5px;">Añadir caracteristica</button>
