



<div class="container">
    <div class="col" style="text-align: center;">
      <br>
      <h1>{{titulo}}</h1>
    </div>
    <br><br>
    <form class="form-group row">
  
      <div class="form-group col-md-3">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
      </div>
  
      <div class="form-group col-md-3">
        <label for="apellidos">Apellido:</label>
        <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" [(ngModel)]="cuadroApellidos">
      </div>
  
      <div class="form-group col-md-3">
        <label for="nombre">Cargo:</label>
        <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
      </div>
  
      <div class="form-group col-md-3">
        <label for="nombre">Salario:</label>
        <input type="text" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
      </div>
  
      <div class="col">
          <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()" style="margin-top: 15px;">Agregar empleado</button>
      </div>
  
    </form>
  </div>
  
  
  <br><br>
  
  <app-empleado-hijo-c *ngFor="let empleado of empleados; let i=index" [empleadoDeLista]="empleado" [indice]="i"></app-empleado-hijo-c>
  
  